#apresentacao {
  background: #99EDFD;
  padding: 2rem; }
  #apresentacao .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    #apresentacao .content .video-ceo iframe {
      width: 100%;
      height: 22.5rem; }

#auxiliar-1 p {
  line-height: 1.5; }

#beneficios {
  margin-top: 3.5rem;
  background: white; }
  #beneficios .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    #beneficios .row .texto {
      font-family: myriad;
      font-size: 2rem; }
      #beneficios .row .texto .destaque {
        font-size: 3rem; }
      @media screen and (max-width: 640px) {
        #beneficios .row .texto {
          font-size: 1rem; }
          #beneficios .row .texto .destaque {
            font-size: 1.5rem; } }

#convite .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 3.5rem; }
  #convite .content button {
    margin: 0;
    margin-left: 0.975rem; }
  #convite .content h1 {
    margin: 0;
    font-family: myriad; }
  @media screen and (max-width: 640px) {
    #convite .content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      #convite .content h1 {
        margin-bottom: 1rem; } }

footer {
  width: 100%;
  padding: 2rem;
  background: #00B0F2;
  margin-top: 3.5rem;
  border-top: 0.7rem solid #F8CD6C; }
  footer ul li {
    font-family: myriad;
    font-size: 1.2rem; }
  footer .content .logo {
    margin: auto;
    width: 8rem; }
  footer .content ul.paginas {
    display: table;
    margin: 1.4rem auto 0;
    font-size: 1.2rem; }
    footer .content ul.paginas li {
      display: inline; }
      footer .content ul.paginas li:not(:first-child) {
        margin-left: 1rem; }

header .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  text-align: center;
  margin-bottom: 3.5rem; }
  header .content h1 {
    margin-top: 1.0rem; }
  header .content p {
    margin-bottom: 1.5rem; }
  header .content .logo {
    width: 8rem;
    margin: auto; }
  header .content button {
    margin: auto; }

main h2, main h3, main h4 {
  text-align: center; }

nav {
  font-size: 1.2em;
  margin: 1em 0 2em; }
  nav .top-bar a {
    color: black; }
  nav .top-bar, nav .top-bar ul {
    background: none; }
  @media screen and (max-width: 640px) {
    nav .top-bar .top-bar-left, nav .top-bar .top-bar-right {
      width: auto; }
    nav .top-bar .top-bar-right {
      position: relative;
      top: 10px; } }
  nav ul li:not(:first-child) {
    margin-left: 10px; }
  nav .social i {
    font-size: 1.6em; }

#newsletter {
  margin-top: 3.5rem;
  font-family: myriad; }
  #newsletter .inscricao {
    margin-top: 2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    #newsletter .inscricao h3 {
      display: table;
      margin: 0;
      margin-right: 20px; }
    #newsletter .inscricao input {
      margin: 0;
      padding: 1rem;
      border-radius: 20px;
      border: 1px solid gray;
      width: 90%; }
    @media screen and (max-width: 640px) {
      #newsletter .inscricao {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 0.8rem; }
        #newsletter .inscricao h3 {
          margin: 1rem 0 1rem; } }

.height {
  height: 18rem; }

h1 {
  font-family: modern; }

li {
  font-family: myriad; }

p {
  font-family: myriad; }

@media screen and (max-width: 640px) {
  .column > *, .columns > * {
    margin-top: 2rem; }
  p {
    text-align: center;
    margin-top: 0.9rem !important; } }

.gray {
  background: gray; }

.black {
  background: #333333; }

body * {
  box-sizing: border-box; }

body button.download {
  font-size: 1.5rem;
  font-family: myriad;
  width: 11rem;
  border-radius: 1.5rem;
  height: 2.2rem;
  background: white;
  color: black;
  border: 2px solid #00B8F2;
  padding-top: 3px;
  text-align: center; }

body li {
  list-style: none; }

@font-face {
  font-family: 'myriad';
  src: url("../fonts/myriad/myriad.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/myriad/myriad.eot?#iefix") format("embedded-opentype"), url("../fonts/myriad/myriad.woff2") format("woff2"), url("../fonts/myriad/myriad.woff") format("woff"), url("../fonts/myriad/myriad.ttf") format("truetype"), url("../fonts/myriad/myriad.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'modern';
  src: url("../fonts/modern/modern.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/modern/modern.eot?#iefix") format("embedded-opentype"), url("../fonts/modern/modern.woff2") format("woff2"), url("../fonts/modern/modern.woff") format("woff"), url("../fonts/modern/modern.ttf") format("truetype"), url("../fonts/modern/modern.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'elephant';
  src: url("../fonts/elephant/elephant.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/elephant/elephant.eot?#iefix") format("embedded-opentype"), url("../fonts/elephant/elephant.woff2") format("woff2"), url("../fonts/elephant/elephant.woff") format("woff"), url("../fonts/elephant/elephant.ttf") format("truetype"), url("../fonts/elephant/elephant.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'iskoolla';
  src: url("../fonts/iskoolla/iskoolla.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/iskoolla/iskoolla.eot?#iefix") format("embedded-opentype"), url("../fonts/iskoolla/iskoolla.woff2") format("woff2"), url("../fonts/iskoolla/iskoolla.woff") format("woff"), url("../fonts/iskoolla/iskoolla.ttf") format("truetype"), url("../fonts/iskoolla/iskoolla.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
