#apresentacao{
  background: #99EDFD;
  padding:2rem;


  .content{
    display:flex;
    align-items: center;

    .video-ceo{
      iframe{
        width: 100%;
        height:22.5rem;
      }
    }
  }


}
