#beneficios{
  margin-top: 3.5rem;
  background: white;


  .row{
    display: flex;
    align-items: center;

    .texto{
      font-family: myriad;
      font-size: 2rem;

      .destaque{
        font-size: 3rem;
      }

      @media screen and (max-width:640px){
        font-size: 1rem;

        .destaque{
          font-size: 1.5rem;
        }
      }
    }
  }




}
