#convite{
  .content{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 3.5rem;


    button{
      margin: 0;
      margin-left:0.975rem;
    }
    h1{
      margin:0;
      font-family: myriad;
    }

    @media screen and (max-width: 640px){
      flex-direction: column;
      h1{
        margin-bottom: 1rem;
      }
    }

  }
}
