footer{
  width: 100%;
  padding:2rem;
  background: #00B0F2;
  margin-top: 3.5rem;

  border-top: 0.7rem solid #F8CD6C;


  ul{
    li{
      font-family: myriad;
      font-size:1.2rem;
    }
  }

  .content{

    .logo{
      margin: auto;
      width:8rem;
    }

    ul.paginas{
      display: table;
      margin: 1.4rem auto 0;
      font-size: 1.2rem;

      li{
        display: inline;

        &:not(:first-child){
          margin-left: 1rem;
        }
      }
    }
  }
}
