header{

  .content{
    display: flex;
    flex-flow: column;
    text-align: center;
    margin-bottom: 3.5rem;

    h1{
      margin-top: 1.0rem ;
    }

    p{
      margin-bottom: 1.5rem;
    }

    .logo{
      width: 8rem;
      margin: auto;
    }
    button{
      margin: auto;
    }
  }
}
