nav {

  font-size: 1.2em;
  margin:1em 0 2em;

  .top-bar{
    a{
      color:black;
    }
    &, ul{
      background: none;
    }

    @media screen and (max-width:640px) {
      .top-bar-left, .top-bar-right{
        width: auto;
      }
      .top-bar-right{
        position: relative;
        top:10px;
      }
    }
  }

  ul{
    li:not(:first-child){
      margin-left: 10px;
    }
  }

  .social{
    i{
      font-size:1.6em;
    }
  }




}
