#newsletter{
  margin-top: 3.5rem;
  font-family: myriad;

  .inscricao{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    h3{
      display: table;
      margin:0;
      margin-right: 20px
    }

    input{
      margin:0;
      padding:1rem;
      border-radius: 20px;
      border: 1px solid gray;
      width: 90%;
    }

    @media screen and (max-width: 640px){
      flex-direction: column;
      margin-top: 0.8rem;

      h3{
        margin:1rem 0 1rem;
      }
    }


  }







}
