@import "./**/*.scss";

.height{
  height: 18rem;
}

h1{
  font-family: modern;
}

li{
  font-family: myriad;
}

p{
  font-family: myriad;
}

@media screen and (max-width: 640px){
  .column, .columns{
    &>*{
      margin-top: 2rem;
    }
  }

  p{
    text-align: center;
    margin-top:0.9rem !important;
  }
}



.gray{
  background: gray;
}

.black{
  background: #333333;
}



body{
  *{
    box-sizing: border-box;
  }

  button.download{
    $width: 11rem;
    $ratio: 5;

    font-size:1.5rem;
    font-family: myriad;
    width: $width;
    border-radius: 1.5rem;
    height: $width/$ratio;
    background: white;
    color: black;
    border: 2px solid #00B8F2;
    padding-top:3px ;
    text-align: center;
  }

  li{
    list-style: none
  }

}


@font-face {
  font-family: 'myriad';
  src: url('../fonts/myriad/myriad.eot'); /* IE9 Compat Modes */
  src: url('../fonts/myriad/myriad.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/myriad/myriad.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/myriad/myriad.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/myriad/myriad.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/myriad/myriad.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'modern';
  src: url('../fonts/modern/modern.eot'); /* IE9 Compat Modes */
  src: url('../fonts/modern/modern.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/modern/modern.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/modern/modern.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/modern/modern.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/modern/modern.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'elephant';
  src: url('../fonts/elephant/elephant.eot'); /* IE9 Compat Modes */
  src: url('../fonts/elephant/elephant.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/elephant/elephant.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/elephant/elephant.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/elephant/elephant.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/elephant/elephant.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'iskoolla';
  src: url('../fonts/iskoolla/iskoolla.eot'); /* IE9 Compat Modes */
  src: url('../fonts/iskoolla/iskoolla.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/iskoolla/iskoolla.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/iskoolla/iskoolla.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/iskoolla/iskoolla.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/iskoolla/iskoolla.svg#svgFontName') format('svg'); /* Legacy iOS */
}
