doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Desafio da Ordem
    link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
    link(rel="stylesheet" type="text/css" href="components/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet" type="text/css" href="components/foundation/css/foundation.min.css")
    link(rel="stylesheet" type="text/css" href="components/owl-carousel/owl.carousel.css")
    link(rel="stylesheet" type="text/css" href="components/owl-carousel/owl.theme.css")
    link(rel="stylesheet" type="text/css" href="components/owl-carousel/owl.transitions.css")
    link(rel="stylesheet" type="text/css" href="css/bundle.css")
  body
    
    nav.row    
      .top-bar    
        .top-bar-left
          ul.social.menu
            li.facebook
              a(hrfe="#")
                i.fa.fa-facebook
            li.instagram
              a(hrfe="#")
                i.fa.fa-instagram 
        .top-bar-right
          ul.menu
            li 
              a(hrfe="#") Cadastro
            li 
              a(hrfe="#") Artigos
            li
              a(hrfe="#") Contato
    
    header.row
      .content
        .logo
          img(src="img/logo.png") 
        h1 Desafio da Ordem
        p.lead Encare esse desafio e passe na OAB!   
        button.download Baixar        
    main
      #apresentacao
        .row
          .content      
            .mobile.hide-for-small-only.small-12.medium-4.columns
              img(src="img/ipad-iphone.png")
            .video-ceo.small-12.medium-8.columns
              iframe(
                src="https://player.vimeo.com/video/155975445?color=ffffff&title=0&byline=0&portrait=0&badge=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen
              )
      #beneficios.owl-carousel
        .row
          img.small-5.columns(src="img/beneficios/1.svg")            
          p.texto.small-7.columns.
            #[span.destaque Desafie] amigos ou outros jogadores para um embate de perguntas e respostas             
        .row
          p.texto.small-8.columns.
            #[span.destaque Responda] uma grande variedade de questões de direito
          img.small-4.columns(src="img/beneficios/2.svg")            
        .row
          img.small-5.columns(src="img/beneficios/3.svg")            
          p.texto.small-7.columns.
            #[span.destaque Acompanhe] seu desenvolvimento atrvés das suas conquistas e fique cade vez mais perto de passar na OAB!
          
                 
      
      #auxiliar-1.row
        
      #noticias.row
        
      #auxiliar-2  
      #convite.row
        .content
          h1 Comece a treinar JÁ!
          button.download Baixar        
      #newsletter.row
        .content
          h4 Cadastre-se para receber notícias sobre o nosso App e serviço Coaching                    
          .inscricao.medium-8.medium-offset-2
            h3 E-mail
            input
    footer
      .content         
        .logo
          img(src="img/logo.png")      
        ul.paginas
          li Cadastro
          li Artigos
          li Contato      
        
    script(src="components/jquery/dist/jquery.min.js")
    script(src="components/owl-carousel/owl.carousel.min.js")
    
    script(type="text/javascript").
      $(document).ready(function() {
        $("#beneficios").owlCarousel({
          autoPlay : 3000,
          stopOnHover : true,
          paginationSpeed : 1000,
          goToFirstSpeed : 2000,
          singleItem : true,
          autoHeight : true,
          transitionStyle:"fade"
        });
      });
    
    script(src="http://localhost:4500/livereload.js")
  
